mat-card {
  margin: 20px;
}

.header-image {
  background-image: url("/assets/api.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.method-title {
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  line-height: 16px;
}
