<div class="floating-center">
  <mat-card>
    <div class="main-text-container">
      <div class="main-text">
        <h1>Hi, I'm <span class="name nowrap">Jeff</span>.</h1>
        <p>I am a Senior Software Engineer at Google working on Google's internal CRM.</p>
        <p>I love creating things things, especially in C, Java, and Python.</p>
        <p></p>
      </div>
      <img class="face-image" src="assets/face.png" />
    </div>
    <div class="main-text-container single-col-text">
      <p>
        Check out my <a href="https://github.com/jeffreymanzione?tab=repositories">Git repos</a>.
      </p>
      <p>
        My largest project is <a href="https://github.com/jeffreymanzione/jeff-vm">my process virtual machine</a>
        which implements much of what is expected from a modern programming language.
      </p>
    </div>
  </mat-card>
  <mat-card class="footer-card">
    <div class="footer"><a href="https://github.com/jeffreymanzione/website">Source</a></div>
  </mat-card>
</div>