.page-title {
  text-align: center;
  line-height: 50px;
  margin-bottom: 60px;
}

.floating-center {
  display: block;
  
  margin: 0 auto;
  width: 50%;
  min-width: 800px;

  @media only screen and (max-device-width: 800px) {
    padding: 16px;
    max-width: 400px;
    min-width: 0;
    width: initial;
  }
}

.name {
  font-weight: 600;
}

h1, p {
  margin-top: 30px;
}

h1 {
  font-size: 34px;
  font-weight: 300;
}

p {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
}

mat-card {
  margin: 20px;
  padding: 64px 48px;
  border-radius: 16px;
}

@media only screen and (max-device-width: 800px) {
  h1 {
    font-size: 20px;
    margin-top: 0px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }

  mat-card {
    margin: 0;
    padding: 16px;
  }
  
}

.main-text-container {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  margin: 40px auto;
  max-width: 1000px;

  @media only screen and (max-device-width: 800px) {
    display: block;
    margin: 0 auto 20px auto;
  }
}

.single-col-text {
  display: block;
}

.main-text {
  margin: auto 40px auto 0;
  height: 100%;
  font-size: 20px;

  &:hover {
    text-shadow: 0.5px 0.5px 0.5px white;
  }

  @media only screen and (max-device-width: 800px) {
    margin: auto 0;
  }
}

.face-image {
  display: block;

  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;

  @media only screen and (max-device-width: 800px) {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: auto;
  }

  border-radius: 50%;
  overflow: hidden;

  filter: grayscale(40%) contrast(140%);
  &:hover {
    filter: grayscale(20%) contrast(130%);
  }
}

.footer-card {
  margin-top: 24px;
}

.footer {
  text-align: center;
  font-size: 20px;

  @media only screen and (max-device-width: 800px) {
    font-size: 14px;
    line-height: 14px;
  }
}