.page-title {
  text-align: center;
  line-height: 50px;
  margin-bottom: 60px;
}

.floating-center {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.name {
  font-weight: 600;
}

.main-text-container {
  display: flex;
  height: 100%;
  margin: 40px auto;
  max-width: 800px;
}

.comments-container {
  max-width: 800px;
  margin: auto;
}

.main-text {
  margin: auto 40px auto 0;
  height: 100%;
  font-size: 20px;

  &:hover {
    text-shadow: 0.5px 0.5px 0.5px white;
  }
}

.face-image {
  display: block;
  min-width: 400px;
  min-height: 400px;
  border-radius: 50%;
  overflow: hidden;

  filter: grayscale(70%) contrast(140%);
  &:hover {
    filter: grayscale(60%) contrast(130%);
  }
}
