table {
  border-radius: 16px;
  overflow: hidden;
  th {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  min-width: 1244px;
  min-height: 744px;
}

.election-results-table {
  margin: 20px;
  padding: 8px;
}

.election-results-col {
  width: 140px;
}

.election-results-col-wide {
  width: 200px;
}

.emphasis {
  font-weight: 600;
  color: darkslategray;
}

.rep {
  font-weight: 600;
  color: red;
}

.dem {
  font-weight: 600;
  color: blue;
}